h1, h2, h3, h4, h5, h6 {
    font-family: 'Atma', cursive;
    font-weight: 600;
    color: #2C2C2C;
}


p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #fcbe5d;
    text-decoration: underline;
}
.container-card {
    background: #fcbe5d;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    padding: 2rem;
    margin-bottom: 2rem;
}
body {
    background-image: url('../images/background5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand,
.navbar .nav-link {
    font-family: 'Atma', cursive;
    font-weight: 600;
}
.navbar .nav-link:hover {
    text-decoration: underline;
    color: #C49E45;
}
.btn {
    font-weight: bold;
    border-radius: 8px;
}
.btn:hover {
    background-color: #fcbe5d;
    color: #fcbe5d;
}
.navbar {
    background-color: #fcbe5d;
}
.navbar-brand {
    padding: 0 ;
    margin: 0 ;
    display: flex;
    align-items: center;
}
.dropdown-item {
    font-family: 'Atma', cursive;
    font-weight: 600;
}
.rounded-circle {
    object-fit: cover;
}
