{% extends 'base.html' %}
{% load static %}

{% block title_block %}About Us{% endblock %}

{% block body_block %}
<div class="container-card text-center">
    <h1>About PetPals</h1>
    <p>PetPals is an Online Social Media Web Application. Here we focus on building a community of animal lovers and pet owners. 
        On this website, users can:</p>
    <ul>
        <p> 🐾 Share stories and pictures of pets. 🐾</p>
        <p> 🐾 Connect with other pet lovers.  🐾</p>
        <p> 🐾 Learn more about adoption and animal welfare. 🐾</p>
        <p> 🐾 Get and give advice about animal products, animal health and daily animal support routines. 🐾</p>
      </ul>
      <p> With PetPals, we aimed to provide users and pet owners with a safe space to ask questions, no matter how trivial, and to receive 
        expert advice from fellow users and veterinarians. On this website, users can showcase photos of their pets and engage with other 
        animal enthusiasts. They can upload images of any potential health issues their pets might be experiencing, allowing them to gain 
        the necessary support. Additionally, users can search for terms that may help them find solutions to specific problems they may 
        encounter. This interaction enables users to engage with the website without feeling exposed. Furthermore, users can utilise this 
        platform to promote and display their products, making it the ideal space for animal lovers and pet owners. </p>
        <h3>Meet our Group</h3>
        <p> The website was created by Zak Boulaich, Ebiyal Bhatti, Ivan Chen and Oleksandr Dykyi. We are students at the University Of
             Glasgow is studying Computer Science and as a group project, we decided to create this website. Thank you for supporting us. </p>
          
        <h3>Our Social Media </h3>    
    <div class=>
    <a href="https://www.instagram.com" target="_blank">
        <img src="{% static 'images/instagram.png' %}" alt="Instagram" width="100">
    </a>
    </div>
    </div>
          
{% endblock %}