{% extends 'base.html' %}
{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="container-card">
        <h2>My Account</h2>

        <div>
            <p>Welcome, {{ user.username }}!</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        {% if user.userprofile.bio %}
            <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
        {% else %}
            <p><em>No bio set yet.</em></p>
        {% endif %}


        {% if user.userprofile.picture and user.userprofile.picture.name %}
            <h4> Profile Picture:</h4>
            <img src="{{ user.userprofile.picture.url }}" 
                alt="Profile picture"
                class="img-thumbnail"
                width="300" height="300">
        {% else %}
            <h4> Profile Picture:</h4>
            <img src="{{ MEDIA_URL }}profile_images/default.png" 
                alt="Default profile picture"
                class="img-thumbnail"
                width="300" height="300">
        {% endif %}
    </div>
    <div class="container-card">
        <h3>Your Posts</h3>
        {% if user.post_set.all %}
            <ul class="list-group">
                {% for post in user.post_set.all %}
                    <li class="list-group-item">
                        <strong>{{ post.title }}</strong> - <small>{{ post.time }}</small>
                        <a href="{% url 'petpals:view_post' post.id %}" class="btn btn-sm btn-info">View</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't made any posts yet.</p>
        {% endif %}
    </div>
    </div>

{% endblock %}
